/* Default styles for the header */
#navbarSupportedContent{
  margin-left: 170px;
}
.form-inline{
  margin-left: 100px;
}

header {
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  padding: 10px;
  background-color: #d0f4fb;
  color: black;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  border-bottom: 0px !important;

}

.search-items {
  /* position: absoute;
  display: list-item !important;
  z-index: 10;
  top: 66px;
  list-style: none;
  background-color: #d4f7fd;
  color: #214200;
  border: 2px solid black;
  border-top: 0px;
  width: 382px;
  padding-left: 0px;
  padding-bottom: 5px;
  border-radius: 0px;
  display: flex;
margin-left: 339px !important;
margin-top: -10px !important;
border-radius: 10px !important;
padding: 5px !important; */
display: list-item !important;
background-color: #d4f7fd;
color: #214200;
border: 2px solid black;
width: 314px;
margin-left: 97px !important;
border-radius: 10px !important;
padding: 5px !important;
}
.search-items>li{
  border-bottom: 1px solid grey;
  
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #333;
  text-decoration: none;
}

.logo {
  max-width: 100px;
}

.search {
  display: flex;
  align-items: center;

}

.search form {
  display: flex;
}

.search input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 0px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 630px;
  border: 2px solid black;
}

.search button {
  padding: 10px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search button:hover {
  background-color: #555;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {

  /* Reduce padding and font size for smaller screens */
  header {
    padding: 10px;
  }

  nav li {
    margin-right: 10px;
  }

  nav a {
    font-size: 14px;
  }

  .logo {
    max-width: 80px;
  }
}

@media screen and (max-width: 576px) {

  .navbar-header {
    float: none;
}
.navbar-left,.navbar-right {
    float: none !important;
}
.navbar-toggle {
    display: block;
}
.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-collapse.collapse {
    display: flex!important;
}
.navbar-nav {
    display: block ruby !important;
    float: none!important;
    margin-top: 7.5px;
}
.navbar-nav>li {
    float: none;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.collapse.in{
    display:block !important;
}
#search-bar{
  width: 205px !important;
}
.navbar-toggler-icon{
  display: none;
}
}