<div class="container-fluid">
    <h2 class="text-center text-dark">Listed Products</h2>
    <table class="table">
       <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Colour</th>
            <th>Catagory</th>
            <th>Description</th>  
            <th>Action</th>  
        </tr>
       </thead> 
       <tbody>
        <tr *ngFor="let items of productList">
            <td><img src="{{items.image}}" alt="no image" height="100px" width="140px"></td>
            <td>{{items.name | titlecase}}</td>
            <td>{{items.price | titlecase | currency: 'INR'}}</td>
            <td>{{items.color | titlecase}}</td>
            <td>{{items.category | titlecase}}</td>
            <td>{{items.description | titlecase}}</td>
            <td>
                <!--add font icon-->
                
                <fa-icon class="deleteIcons" [icon]="deletIcon" (click)="removeItem(items.id)"></fa-icon>
                <a routerLink="/seller-update-list/{{items.id}}">
                    <fa-icon class="updateIcons" [icon]="updateIcon" (click)="updateItem(items.id)"></fa-icon>
                </a>
            </td>
        </tr>
       </tbody>
    </table>
</div>