
.updateIcons{
    font-size: xx-large;
    color: rgb(0, 30, 255); 
    margin-left: 10px;  
}
.deleteIcons{
    font-size: xx-large;
    color: red;   
}
.updateIcons:hover, .deleteIcons:hover{
cursor: pointer;
}