
.formSwitch{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    border: .5px solid black;
}
.formSwitch:hover{
    background-color: rgb(149, 255, 255);
transition: 1s ease-out;
cursor: pointer;
}
.errorMsg{
    text-align: center;
    border: 1px solid transparent;
    background-color: rgb(247, 111, 111);
    padding: 5px 5px;
}