.content-fit{
    justify-content: center;
}
.carousel {
    display: inline flow-root list-item !important;
    height: 350px;
    width: 988px;
    text-align: center;
    margin-left: 119px !important;
    list-style-type: none;
}


.card {
    height: 400px;
    width: 19rem !important;
    margin-top: 10px;
    margin-bottom: 1px;
    padding: 10px 10px;
    /* background: linear-gradient(to bottom, #feffe1, #d0d3ff); */
    background:transparent;
    justify-content: space-between;
    color: white;
}

.card-img-top {
    height: 182px;
    object-fit: contain;
    width: 100%;
}

.card-body {
    text-align: center;
}

.card-title {
    margin-top: 8px;
}

.card-text {
    margin-bottom: 3rem;
}

.button>a {
    margin-right: 10px;
}

.slider-img {
    margin-top: -10px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.461);
    color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 16px;
    height: 100px;
    text-shadow: 1px 1px black;
    font-size: large;
}
.d-block{
    /* display: block !important; */
    height: 312px !important;
    width: 388px !important;
}
@media only screen and (max-width: 400px) {
    .card{
        width: 23rem !important;
    }
    .d-block{
        /* display: block !important; */
        height: 312px !important;
        width: 388px !important;
    }
  }