    <ngb-carousel *ngIf="popularProducts" style="width: unset; display: flex !important; margin: 0px !important;">
        <ng-template ngbSlide *ngFor="let popularProduct of popularProducts">
            <div class="slider-img">
                <div class="picsum-img-wrapper">
                    <div class="container-fluid"><img src="{{popularProduct.image}}" class="d-block"  alt="First product" /></div>
                </div>

                <div class="carousel-caption">
                    <h3>{{popularProduct.name | titlecase}}</h3>
                    <p>{{popularProduct.description | titlecase}}</p>
                </div>
            </div>
        </ng-template>
    </ngb-carousel>

<div class="row">
    <div class="col-lg-3" *ngFor="let product of trendyProducts">
        <div class="card" style="width: 18rem;">
            <img src="{{product.image}}" class="card-img-top" alt="..." height="200px" width="200px">
            <div class="card-body">
              <h5 class="card-title">{{product.name | titlecase}}</h5>
              <p class="card-text">{{product.description | titlecase}}</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">View details</a>
              <a href="#" class="card-link">Add to cart</a>
            </div>
          </div>
    </div>
</div>

